@model npoCma.ViewModels.CabinetModel

<h2>Добро пожаловать в личный кабинет</h2>

<form asp-action="Cabinet" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"/>
    <div>
        <div class="form-group">
            Ежегодный оплачиваемый
            @Html.RadioButtonFor(model => model.IsAnnual, true)
            За свой счет
            @Html.RadioButtonFor(model => model.IsAnnual, false)
        </div>
        <div class="form-group">
            <label asp-for="StartVacation">Дата начала отпуска</label>
            <input type="date" asp-for="StartVacation"/>
            <span asp-validation-for="StartVacation"/>
        </div>
        <div class="form-group">
            <label asp-for="EndVacation">Дата окончания отпуска</label>
            <input type="date" asp-for="EndVacation"/>
            <span asp-validation-for="EndVacation"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить заявку" class="btn btn-outline-dark"/>
        </div>
    </div>
</form>