@model npoCma.ViewModels.LoginModel

<h2>Вход на сайт</h2>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"/>
    <div>
        <div class="form-group">
            <label asp-for="Email">Введите Email</label>
            <input type="text" asp-for="Email"/>
            <span asp-validation-for="Email"/>
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark"/>
        </div>
    </div>
</form>