@model npoCma.ViewModels.RegisterModel

<h2>Регистрация</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"/>
    <div>
        <div>
            <label asp-for="Email">Введите Email</label><br/>
            <input type="text" asp-for="Email"/>
            <span asp-validation-for="Email"/>
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br/>
            <input asp-for="Password"/>
            <span asp-validation-for="Password"/>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br/>
            <input asp-for="ConfirmPassword"/>
            <span asp-validation-for="ConfirmPassword"/>
        </div>
        <div>
            <input type="submit" value="Регистрация"/>
        </div>
    </div>
</form>